.button {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 0;
}

.button:hover, .titled-pane .title:hover {
    -fx-background-color: #d1d1d1;
}

.button:pressed, .titled-pane .title:pressed {
    -fx-background-color: #bbbbbb;
}

.number-button {
    -fx-background-color: white;
}

.equals-button, .toggle-button {
    -fx-background-color: #bbb;
}

.equals-button:hover, .toggle-button:hover {
    -fx-background-color: #999;
}

.equals-button:pressed, .toggle-button:pressed, .toggle-button:selected {
    -fx-background-color: #777;
}

.toggle-button {
    -fx-background-insets: 3px 5px;
}

.toggle-button:selected {
    -fx-text-fill: #5ac8c7;
    -fx-font-weight: bold;
}

.log-button, .clean-log-button {
    -fx-background-color: none;
}

.log-list {
    -fx-background-color: #f2f2f2;
    -fx-border: none;
}

.log-list .list-cell {
    -fx-padding: 13px 5px;
    -fx-background-color: #f2f2f2;
    -fx-background-insets: 10px 0px;
    -fx-text-fill: #666;
    -fx-font-size: 14px;
}

.log-list .list-cell:hover, .clean-log-button:hover {
    -fx-background-color: #dadada;
}

.log-list .list-cell:pressed, .clean-log-button:pressed {
    -fx-background-color: #c2c2c2;
}

.log-list .list-cell:selected {
    -fx-text-fill: black;
}

.log-list .scroll-bar {
    -fx-background-color: none;
}

.log-list .increment-button, .log-list .decrement-button, .log-list .corner {
    -fx-background-color: none;
}

.statement-cell-part, .result-cell-part {
    -fx-background-color: none;
    -fx-padding: 2px;
    -fx-pref-width: 220px;
}

.statement-cell-part {
    -fx-text-fill: #666;
}

.result-cell-part {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.titled-pane .title {
    visibility: false;
    -fx-pref-height: 0;
}

.titled-pane .content {
    -fx-background-color: none;
    -fx-border-color: none;
}