.button {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #d1d1d1;
}

.button:pressed {
    -fx-background-color: #bbbbbb;
}

.number-button {
    -fx-background-color: white;
}

.equals-button {
    -fx-background-color: #bbb;
}

.equals-button:hover {
    -fx-background-color: #999;
}

.equals-button:pressed {
    -fx-background-color: #777;
}

.log-button, .clean-log-button {
    -fx-background-color: none;
}

.list-view {
    -fx-background-color: #f2f2f2;
    -fx-border: none;
}

.list-cell {
    -fx-padding: 12px;
    -fx-background-color: #f2f2f2;
    -fx-background-insets: 5px 0px;
    -fx-text-fill: #666;
    -fx-font-size: 14px;
}

.list-cell:hover, .clean-log-button:hover {
    -fx-background-color: #dadada;
}

.list-cell:pressed, .clean-log-button:pressed {
    -fx-background-color: #c2c2c2;
}

.list-cell:selected {
    -fx-text-fill: black;
}